<!DOCTYPE HTML>
<html>
<head>
	<title>Bettervest.de - Risikohinweis</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body style="width:100%;position:relative;margin:0;font-family: cursive;">
	<div style="position:relative;top:150px;margin-left:80px;margin-right:80px;">
		<h1>This is an h1-Header</h1>

		<p>This is a paragraph with automatic line-breaks. The body-element is CSS styled. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

		<h2>This is an h2-Header</h2>

		<p>The following is a remote image:</p>

		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Example.svg/200px-Example.svg.png" />
	</div>

</body>
</html>